#main {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 150px;
}
#pp{
   /* color: #dc3226; */
   font-size: 22px;
   margin-bottom: 10px;
}
#left {
    width: 50%;
    /* border: 1px solid red; */
}


#contact {
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#tick {
    display: flex;
    /* justify-content: start; */
    align-items: start;
    margin-bottom: 40px;
}

#tick>p {
    display: flex;
    /* justify-content: start; */
    align-items: center;

    height: 22px;
}

#form input {
    margin-top: 14px;
    background-color: #0067a5;
    cursor: pointer;
    margin-right: 10px;
}

#form {
    width: 90%;
    margin-bottom: 50px;
}

#form>select {
    width: 100%;
}

select,
input {
    font-size: 15px;
    padding: 15px 10px;
    border-radius: 7px;
    border: 1px solid rgb(185, 184, 184);
    margin-bottom: 15px;
    width: 100%;
}

input:focus,
select:focus {
    outline: none;
    border: 3px solid #0067a5;
}

#name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

a {
    text-decoration: none;
    color: #0067a5;
}

#box {
    border: 1px solid rgb(197, 197, 197);
    width: 90%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.display {
    display: flex;
    padding: 10px 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display p {
    font-weight: bold;
    color: #0067a5;
}

.display>div {
    width: 70%;
    height: auto;
    line-height: 20px;
    display: flex;
    align-items: center;

}

#box>.display:last-child>div {
    width: 80%;
}

#contact {
    font-weight: bold;
}

#state {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#pay {
    width: 100%;

    margin-bottom: 40px;
    border-radius: 5px;
}

#pay p {
    font-weight: bold;
}


.payment {
    width: 95%;
    border: 1px solid rgb(216, 215, 215);
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 50px;

    align-items: center;
    padding: 5px;
    padding-left: 20px;

}

.payment>div {
    display: flex;
    align-items: center;
}

.payment>div>p {
    padding: 10px;
}

#form>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 60px;
}

#form>div:last-child>p {
    color: #0067a5;
    cursor: pointer;
}

#submit {
    font-size: 15px;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: 0px;
    background-color: #0067a5;
    color: white;
    font-weight: 600;
}

#submit a {
    background-color: #0067a5;
    color: #fff;
}

#submit:hover {
    background-color: #0067a5;
}

#left>div:last-child {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 3fr;

    font-size: 13px;
    color: #0067a5;
    margin: 20px 0px;
}

#left>div:last-child>p {
    cursor: pointer;
}