#mainSignup{
    border: 1px solid;
}
#form{
    border: 1px solid red;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #0067a5;
}
.inputForm{
    width: 50%;
    height: 38px;
    display: block;
    margin: auto;
    border-color: transparent;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 15px;
    margin-top: 8px;
}
.inputLabel{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 192px;
}
#submit{
    width: 105px;
    height: 42px;
    display: block;
    margin-left: 192px;
    border-color: transparent;
    background-color: white;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bolder;
    color: #0067a5;
    cursor: pointer;
}