body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
    /* background-color: black; */
}

#par_succ_div {
    border-radius: 180px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: 0 auto;

}

h1 {
    color: #dc3226;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 10px;
    color: #fff;
}

i {
    color: tan;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.par_card {
    background: rgb(0, 0, 0);
    padding: 60px;
    border-radius: 4px;
    box-shadow: rgba(216, 19, 5, 0.4) -5px 5px, rgba(223, 73, 14, 0.945) -10px 10px, rgba(216, 71, 5, 0.493) -15px 15px, rgba(204, 76, 17, 0.1) -20px 20px, rgb(223, 140, 15) -25px 25px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
}

#par_succ_div{
   width: 40%;
}
#par_succ_div img{
   width: 100%;
}